@import url('https://fonts.googleapis.com/css?family=Roboto:700|Press+Start+2P');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

